<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css\timetable.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js\courses.js"></script>
  <link rel="stylesheet" href="css\sus.css">
  <link rel="stylesheet" href="css\style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Timetable</title>
</head>

<!--noformat-->
<% 
var strDate = 'dd-mm-yyyy'
  .replace('yyyy', today.getFullYear())
  .replace('mm', today.getMonth()+1)
  .replace('dd', today.getDate())
  .replace('day', today.getDay());

var strDay = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][today.getDay()]
%>
<!--noformat-->

<body>
  <div class="navigation">
    <a class="button" href="logout">
      <img src="https://i.pinimg.com/564x/25/31/39/253139ada044794c33ad3915a591fb1d.jpg">

      <div class="logout">LOGOUT</div>

    </a>

  </div>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href="timetable"><i class="material-icons">schedule</i><span class="icon-text"></span>Timetable</span></a><br>
    <a href="courses"><i class="material-icons">book</i><span class="icon-text"></span>Courses</span></a><br>
    <a href="attendance"><i class="material-icons">bookmark</i><span class="icon-text"></span>Attendance</span></a><br>
    <a href="#"><i class="material-icons">assignment</i><span class="icon-text"></span>Assignment<span></a><br>
  </div>

  <div id="main">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-sm-center" style="padding-left: 150px;">
            <h2 class="heading-section" style="font-size: 60px">Time Table</h2>
          </div>
        </div>
        <center>
          <div class="btn-group" style="padding-bottom: 20px;">
            <button class="btn btn-danger" type="button" data-toggle="dropdown" id="options" aria-haspopup="true"
              aria-expanded="false"> <span id="opt">
                <%= strDay %>
              </span> <span class="caret"></span>
            </button>
            <div class="dropdown-menu">

              <a class="dropdown-item" id="2" href="#">Monday</a>
              <a class="dropdown-item" id="3" href="#">Tuesday</a>
              <a class="dropdown-item" id="4" href="#">Wednesday</a>
              <a class="dropdown-item" id="5" href="#">Thursday</a>
              <a class="dropdown-item" id="6" href="#">Friday</a>
            </div>
          </div>
        </center>
        <div class="row">
          <div class="col-md-12">
            <div class="table-wrap">
              <table class="table">
                <thead class="thead-primary">
                  <tr>
                    <th>From</th>
                    <th>Till</th>
                    <th>Course</th>
                    <th>Professor</th>
                    <th>Attended</th>
                  </tr>
                </thead>
                <tbody>

                  <!--noformat-->
                  <% coursesToday.forEach(obj => { %>
                  <tr>
                    <th scope="row"><%= obj.courseStartTime %></th>
                    <td><%= obj.courseEndTime %></td>
                    <td><%= obj.courseId %></td>
                    <td><%= obj.courseInstructor %></td>
                    <td>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  <% }) %>
                  <!--noformat-->

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>

</html>
</div>
</body>

</html>